{{ define "content" }}

<section class="mid_wrap" >

    <div class="featured-ws">
        <div class="container">

            {{ .Content }}

            <ul>
            {{ range where (where (where .Pages ".Params.title" "!=" "") ".Params.status" "!=" "draft") ".Params.type" "==" "outcome"}}
                <li><a href="{{.Permalink}}">{{ .Title }}</a> ({{ partial "outcomes/status-badge.html" . }})</li>
            {{ end }}
            </ul>

        </div>
    </div>

    <div class="featured-ws">

        <p>You can check out the outcomes from our previous summit.</p>
        <a href="https://2018.open-security-summit.org/outcomes/" class="btn btn-template-main"> See the 2018 summit outcomes</a>
        </br></br>
    </div>


</section>
{{ end}}
