{{ define "content" }}

<section class="mid_wrap" >

    <div class="featured-ws">
        <div class="container">

            {{ .Content }}

            <ul>
            {{ range where (where .Pages ".Params.title" "!=" "") ".Params.status" "!=" "draft"}}
                <li><a href="{{.Permalink}}">{{ .Title }}</a> ({{ partial "outcomes/status-badge.html" . }})</li>
            {{ end }}
            </ul>

        </div>
    </div>

    <div class="featured-ws">

        <h4 class="text-muted">We don't have any outcomes for 2019 yet.</h4>
        </br>
        <p>In the meantime, you can check out the outcomes from our previous summit.</p>
        <a href="https://2018.open-security-summit.org/outcomes/" class="btn btn-template-main"> See the 2018 summit outcomes</a>
        </br></br>
    </div>


</section>
{{ end}}
