<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Summit 2019 : 3-7 June in London/Luton <br><br>Registration ends on May 26 (midnight)</h1>

            <br/><br/><br/>
            <h4>Due to security restrictions by the venue, we cannot sell tickets after the 26th of May!<br/>
                (we have to give them the full list of participants by the 27th of May)<br/><br/>
            </h4>
            <br/>
            <br/>
            <b>Buy your <a href="/tickets/">tickets now</a> and don't miss being part of this amazing event!</b>
    </div>

</section>
